.ant-btn-primary {
  background-color:#3fc060 !important;
  border-color:#3fc060 !important;
}

.ant-pagination-item-active {
  border-color:#3fc060 !important;
}

li.ant-pagination-item-active a {
  color:#3fc060 !important;
}

.ant-menu-item-selected {
  background-color:#3fc060 !important;
}

.ant-menu-item-selected span {
  color:white !important;
}

.ant-menu-item-active {
  color:#3fc060 !important;
}
/* [data-amplify-authenticator][data-variation=modal] {
  background-image: url("background.png");
  width:500px;
  height:300px;
} */
/* .ant-layout {
  background-image: url("images/background.png");
} */
.ant-layout {
  background:url("../public/images/background.png") !important;
  width:100%;
  height:auto;
}
.restaurant-txt {
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  color: rgba(0,0,0,.85);
  padding:10px;
  font-weight: bold;
  text-align: left;
  transition: background .3s ease;
  margin-top:0;
  font-size: 22px;
}